# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (VERY IMPORTANT)
venv/
env/
.venv/
appgguf/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Models (GGUF can be huge)
# ===============================
models/*.gguf

# ===============================
# RAG / data
# ===============================
data/*.db
uploads/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db






